<%= form_for :session do |f| %>
  <p>
    <h3> Login </h3>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit "Login" %>
  </p>
<% end %>
<br>
<hr>
<br>
<%= form_for User.new do |f| %>
  <p>
    <h3> Register </h3>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit "Register" %>
  </p>
<% end %>
